
    <h2>Ruhmeshalle</h2>
    <table class="hall-of-fame">
        <tbody>
        {{#each warriors}}
            <tr>
                <td>{{this.warrior.name}}</td>
                <td>{{this.warrior.wins}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
