<div class="wrapper">
    <h2>Ruhmeshalle</h2>
    <table>
        <thead>
        <tr class="text">
            <th></th>
            <th class="name">Name</th>
            <th>Gewinne</th>
        </tr>
        </thead>
        <tbody>
        {{#each warriors}}
            <tr>
                <td class="text">{{this.place}}</td>
                <td class="name text">{{this.warrior.name}}</td>
                <td class="text">{{this.warrior.wins}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
