<div class="wrapper">
    <h2>Einen Krieger anmelden</h2>
    <form action="/warrior" method="post" class="warrior-form">
        <label for="name" class="middle warrior-name">
            Name:
            <input type="text" name="name" minlength="3" maxlength="50" class="middle">
        </label><br>
        <label for="power" class="middle warrior-inputs">
            Kraft:
            <input type="number" name="power" value="1" min="1" max="10" class="middle center">
        </label><br>
        <label for="defence" class="middle warrior-inputs">
            Abwehr:
            <input type="number" name="defence" value="1" min="1" max="10" class="middle center">
        </label><br>
        <label for="durability" class="middle warrior-inputs">
            Lebensdauer:
            <input type="number" name="durability" value="1" min="1" max="10" class="middle center">
        </label><br>
        <label for="agility" class="middle warrior-inputs">
            Agiliät:
            <input type="number" name="agility" value="1" min="1" max="10" class="middle center">
        </label><br>
        <button type="submit" class="text middle">Anmelden</button>
    </form>
</div>

